---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Stats from "../components/Stats.astro";
import Features from "../components/Features.astro";
import HowItWorks from "../components/HowItWorks.astro";
import DictionaryShowcase from "../components/DictionaryShowcase.astro";
import Faq from "../components/Faq.astro";
import TechMarquee from "../components/TechMarquee.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
    <Header />
    <main>
        <Hero />
        <Stats />
        <Features />
        <HowItWorks />
        <DictionaryShowcase />
        <Faq />
        <TechMarquee />
    </main>
    <Footer />
</Layout>
